@font-face {
  font-family: pixelemulator;
  src: url(./fonts/PixelEmulator.otf);
}

.App {
    font-family: pixelemulator;
    background-color: #4f6366;
    color: #363031;
    align-items: center;
  }

  .Card {
    /* border-radius: 8px; */
    box-shadow: 0px 0px 8px #363031;
    color: #363031;
    margin: 30px 0px;
    border-radius: 1rem;
    align-items: center;
  }
  
  .CardContent {
    padding: 0px 0px 0px 0px;
    border-radius: 5rem;
  }
  
  .CardImage {
    background-color: lightGray;
    /* border-radius: 8px 8px 0 0; */
    max-height: 140px;
    overflow: hidden;
  }
  
  .CardTitle {
    font-family: Avenir;
    font-size: 2em;
    font-weight: 50;
    margin: 12px 0px 0px 0px;
    color:#daa060 ;
    padding: 1rem;
  }
  
  .CardType {
    font-family: pixelemulator;
    color: #363031;
    font-size: 14;
    margin: 4px 0;
    background-color: #d8ac8f;
    font-weight: 600;
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem;
  }
  
  .CardDescription {
    font-family: Avenir;
    font-size: 14;
    margin: 8px 0 0 0;
    padding: 0.5rem;
    color: #daa060;
  }
  